.slotWord {
  color: #fe205b
}

.aliceSpeech {
  width: 50%;
  margin: 10px auto auto 18%;
  border-radius: 15px;
  background: #E5E4E9;
  color: #363636;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial, serif;
  position: relative;
}

.aliceSpeech:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #E5E4E9;
  border-top: 15px solid #E5E4E9;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0;
}

.aliceSpeech:before {
  content: "";
  display: block;
  background-image: url('../images/projectalice.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  float: left;
  margin: -20px 0 0 -90px;
}

.userSpeech {
  width: 50%;
  margin: 10px 18% auto auto;
  border-radius: 15px;
  background: #2095FE;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial, serif;
  position: relative;
}
  
.userSpeech:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid #2095FE;
  border-right: 15px solid transparent;
  border-top: 15px solid #2095FE;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0;
}

.userSpeech.female:before {
  content: "";
  display: block;
  background-image: url('../images/femaleAvatar.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  float: right;
  margin: -20px -90px 0 0;
}
  
.userSpeech.male:before {
  content: "";
  display: block;
  background-image: url('../images/maleAvatar.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  float: right;
  margin: -20px -90px 0 0;
}
