name: Update badges
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/5 * * * *'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        ref: gh-pages

    - name: Download badges
      run: |
        mkdir -p images/badges
        curl -L https://travis-ci.org/project-alice-assistant/ProjectAlice.svg?branch=master -o images/badges/Travis.svg
        curl -L https://sonarcloud.io/api/project_badges/measure?project=project-alice-assistant_ProjectAlice&metric=coverage -o images/badges/Coverage.svg
        curl -L https://sonarcloud.io/api/project_badges/measure?project=project-alice-assistant_ProjectAlice&metric=sqale_rating -o images/badges/Maintability.svg
        curl -L https://sonarcloud.io/api/project_badges/measure?project=project-alice-assistant_ProjectAlice&metric=code_smells -o images/badges/CodeSmells.svg
        curl -L https://img.shields.io/discord/579345007518154752?logo=discord -o images/badges/Discord.svg

    - name: Deploy badges
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        BRANCH: gh-pages
        FOLDER: .
        BASE_BRANCH: gh-pages
